.footer {
    &__section {   
        @include section;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        &--padded {
            p {
                padding-left: calc(#{$unit} * 12);
            } 
        }  
    }
}