.header {   
    &__section {   
        @include section;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &--padded {
            p {
                padding-left: calc(#{$unit} * 12);
            }   
        }
    }
}